input {
    file {
        path => "/var/log/app/web.log"
        tags => [ "web" ]
        add_field => {
            "environment" => "{{ getenv "ENVIRONMENT" }}"
            "region" => "{{ getenv "REGION" }}"
        }
    }
}

output {
    stdout {
        codec => rubydebug
    }
}
